.imj-banner
{
    color: black;
    text-align: right;
   padding: 32px;
    padding-right: 100px;
    border-bottom: solid 3px black;
   
}
.img-title
{
    padding-left: 32px;
}
.img-logo
{
    width: 45px;
    height: 45px;
}
.img-banner-row
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}